<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editando Tarefa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container d-flex align-items-center justify-content-center vh-100">
      <div class="col-md-8">
        <div class="p-4 p-md-5 border rounded bg-light">
          <h1 class="mb-4">Editando Tarefa</h1>

          <%= render 'form', task: @task %>

          <!-- Estiliza os botões Voltar à Tarefa e Voltar à Lista -->
          <div class="btn-group mt-3">
            <%= link_to 'Voltar à Tarefa', task_path(@task), class: "btn btn-secondary" %>
            <%= link_to 'Voltar à Lista', tasks_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
